.projects {
  color: #6464f2;
}

.project-wrapper-first {
  /* padding-top: 30px; */
}

.project-name {
  color: #f05f40 !important;
}

.link-to-project {
  display: block;
  margin: 0 auto 10px auto;
}

h5 {
  font-size: 1rem;
  color: #2e7de6;
}

.link-to-project:hover {
  text-decoration-color: #2e7de6;
}

h5 {
  width: 100%;
  margin: 0 auto 0px auto;
}

.contacts-wrapper {
  margin: 0 auto;
}

.contact-me-text {
  font-size: 1.3em;
  margin-bottom: 20px !important;
}

.email {
  color: #007bff;
  font-size: 1.1em;
}

.footer {
  padding: 20px 20px;
  width: 100%;
  background: #252529;
}

#contact {
  margin-bottom: 30px;
}

.social-media-link {
  text-decoration: none !important;
  color: #f0e5e3;
}

.social-media-link {
  -webkit-transition: color 0.7s ease-out;
  -moz-transition: color 0.7s ease-out;
  -o-transition: color 0.7s ease-out;
  -ms-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}

.social-media-link:hover {
  cursor: pointer;
  color: #6464f2 !important;
}

.copyright {
  margin-top: 30px;
  color: #f538e5;;
}


